$color-body-bg:  #e6e6e6;
$color-border: #ddd;
$color-chart-bg:  #fff;
$color-label:  #777;

$color-israel: #003FC0;
$color-arab: #007A3D;
$color-other: #3f3f3f;

$color-all: #a6a6a6;
$color-hover-el: #ffffb3;
$color-sel-el: #e5e600;
$color-chart-path: rgba(0, 0, 0, 0.05);
$color-sel-border: #000;

$color-map-state: #a6a6a6;
$color-map-border-state: #fff;

$width-sel: 2px;

